body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(207, 88, 130);
    border-radius: 15px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .subContainer {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .subContainer .burbujaUno {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255,255,255);
    border-radius: 50%;
    animation: one 2s infinite alternate;
}

.container .subContainer .burbujaDos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3px 0px 3px rgba(0, 0, 0, 0.152) ;
    border-radius: 50%;
    animation: two 2s infinite alternate;
}
.container .subContainer .burbujaTres {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 3px 0px 3px rgba(0, 0, 0, 0.152) ;
    border-radius: 50%;
    animation: three 2s infinite alternate;
}

@keyframes three {
    0% {
        width: 0px;
        height: 0px;
    }
    76% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 35px;
        height: 35px;
    }

}

@keyframes two {
    0% {
        width: 0px;
        height: 0px;
    }
    35% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 70px;
        height: 70px;
    }

}

@keyframes one {
    0% {
        width: 0px;
        height: 0px;
    }
    100% {
        width: 90px;
        height: 90px;
    }

}