body{
    padding: 0px;
    margin: 0px;

}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: rgb(100,200,20);
    margin: 50px auto;
    border-radius: 8px;
    .subContainer {
        position: relative;
        margin: auto;
        top: 170px;
        width: 120px;
        height: 80px;
        cursor: pointer;
    }
}

.franja {
    position: absolute;
    width: 100px;
    height: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 3px;
    left: 10px;

}
.uno {
    animation: moveUno 1s;
}
.dos {
    top: 30px;
    border-radius: 3px;
    animation: addDos 1s;

}
.tres {
    top: 60px;
    animation: moveTres 1s;
}

@keyframes moveUno {
    0% {
        transform: translateY(30px) rotate(45deg);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

@keyframes addDos {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transfor: scale(1);
        opacity: 1;
    }
}

@keyframes moveTres {
    0% {
        transform: translateY(-30px) rotate(-45deg);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(0px) rotate(0deg);
    }
}

.unoo {
    animation: addClasUno 1s;
    transform: translateY(30px) rotate(45deg);
}
.doss {
    animation: removeDos 1s;
    opacity: 0;
}
.tress {
    animation: addClasTres 1s;
    transform: translateY(-30px) rotate(-45deg);
}

@keyframes addClasUno {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(30px) rotate(45deg);
    }
}
@keyframes removeDos {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
@keyframes addClasTres {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-30px);
    }
    100% {
        transform: translateY(-30px) rotate(-45deg);
    }
}