body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.container {
    width: 500px;
    height: 500px;
    background-color: rgb(255,255,255);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(40);

    .circulo {
        position: relative;
        width: 120px;
        height: 120px;
        background-color: rgb(0,0,0);
        border-radius: 50%;
        filter: blur(10px);

        .item {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 90px;
            width: 90px;
            transform: translate(-50%, -50%);
            background-color: rgb(0,0,0);
            border-radius: 50%;
            animation: rotate 5s alternate infinite;
        }

        .b1 {
            height: 80px;
            width: 80px;
            background-color: rgb(0,0,0);
            transform-origin: 0px 0px;
            animation: rotate 4s alternate infinite;
        }
        .b2 {
            width: 40px;
            height: 40px;
            background-color: rgb(0,0,0);
            transform-origin: 70px 70px;
            animation: rotate 10s alternate infinite;
           
        }

        .b3 {
            height: 50px;
            width: 50px;
            background-color: rgb(0,0,0);
            transform-origin: -20px -20px;
            animation: rotate 7s alternate infinite;

        }

        .b4 {
            height: 30px;
            width: 30px;
            background-color: rgb(0,0,0);
            transform-origin: -100px -20px;
            animation: rotate 8s alternate infinite;
        }
        .b5 {
            height: 30px;
            width: 30px;
            background-color: rgb(0,0,0);
            transform-origin: -40px -100px;
            animation: rotate 5s linear infinite;
        }
        .b6 {
            height: 30px;
            width: 40px;
            background-color: rgb(0,0,0);
            transform-origin: -40px 100px;
            animation: rotate 8s alternate infinite;
        }
        .b7 {
            height: 40px;
            width: 40px;
            background-color: rgb(0,0,0);
            transform-origin: 40px 130px;
            animation: rotate 8s linear infinite;
        }
        .b8 {
            height: 70px;
            width: 70px;
            background-color: rgb(0,0,0);
            transform-origin: 80px 40px;
            animation: rotate 6s linear infinite;
        }

    }
}

@keyframes rotate {
    0%{
      transform: translate(-50%,-50%) rotate(0);
    }
    100%{
      transform: translate(-50%,-50%) rotate(360deg);
    }
  }